[Unit]
Description=Blynk system metrics and management
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/blynk-system-metrics
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
